VITE_API_BASE_URL=http://localhost:3000
VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_uJaRZQYa8
VITE_COGNITO_CLIENT_ID=48m6b7luu2i9c0dkq59tt0r49v
VITE_COGNITO_REDIRECT_URI=https://app.fintime.vberkoz.com/